.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    margin: 2rem auto;
    padding: 2rem;
    background-position: center;
    background-size: cover;
    position: relative;
    > header {
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h1 {
            text-align: left;
            font-size: 4em;
            font-weight: 300;
            letter-spacing: 0.06em;
            display: flex;
            flex-direction: column;
            width: 80%;
            max-width: 700px;
        }
        .background-img {
            * {
                color: rgba(255, 255, 255, 0.87);
                text-shadow: 2px 2px 5px rgb(0, 0, 0);
            }
        }
        @media screen and (min-width: 400px) {
            h1 {
                text-align: center;
                transform: translateX(-20%);
                span {
                    transform: translateX(25%);
                }
            }
        }
        @media screen and (min-width: 600px) {
            width: 90%;
        }
    }

    .sub-title {
        display: flex;
        gap: 0.75em;
        padding: 4rem 0;
        > div {
            width: 33%;
        }
        p {
            width: 100%;
            transition: font-weight 0.2s ease;
            a {
                color: black;
                text-decoration: none; 
            }
        }
        p:hover, p:active {
            font-weight: 500;
        }
    }

    .headshot {
        width: 25vw;
        height: 25vw;
        min-width: 250px;
        min-height: 250px;
        max-width: 300px;
        max-height: 300px;
        border-radius: 50%;
        border: 5px solid black;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0; /* Prevent shrinking */

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translateY(2px)
        }
    }
    @media screen and (min-width: 750px) {
        .bottom-border {
            margin: 2rem auto 0;
        }
    }
}
.hero {
    header, .sub-title > div, .headshot, .bottom-border {
        opacity: 0;
    }
    .sub-title > div {
        transform: translateY(20px);
        animation: slideIn 0.6s forwards;
    }
    header {
        transform: translateX(-25%);
        animation: slideIn 1s forwards;
        animation-delay: 0.2s;
    }

    .headshot {
        transform: translateX(25%);
        animation: slideIn 1s forwards;
        animation-delay: 1s;
    }

    .sub-title > div:nth-child(1) {
        animation-delay: 1.9s;
    }

    .sub-title > div:nth-child(3) {
        animation-delay: 2.3s;
    }

    .sub-title > div:nth-child(2) {
        animation-delay: 2.7s;
    }

    .bottom-border {
        transform: translateX(-50%);
        animation: slideIn 1s forwards;
        animation-delay: 3.1s;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@media screen and (max-width: 1600px) {
    .bottom-border {
        height: 1px; /* Ensure height is consistent */
    }
}