.about {
    width: 90%;
    margin: 0 auto 4rem;
    max-width: 1250px;
    header {
        h2 {
            /* font-family: "Roboto Flex", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
            font-weight: 300;
            font-size: 2.5em;
            letter-spacing: 0.06em;
        }
    }
    p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin: 2rem auto;
        font-weight: 300;
        max-width: 477px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        > span {
            margin-left: 0.5em;
            font-weight: 400;
            color: #555;
            text-align: left;
        }
        .special {
            display: flex;
            flex-direction: column;
            gap: 0.25em;
            padding: 0.5em;
            margin-left: 0;
            font-style: italic;
            .real {
                em {
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }
    }
}

.about, .about header, .about p { 
    opacity: 0; /* Initially hidden */
    animation: none; /* No animation initially */
    transition: none; /* Prevent unwanted transitions */
}
.about p .strong {
    font-weight: 400;
    animation: none;
    transition: none;
}
.about {
    transform: translateY(20px); /* Start slightly below */
}

.about.animate {
    animation: fadeInUp 0.6s ease forwards; 
    header {
        animation: fadeInUp 0.6s ease forwards; 
        animation-delay: 0.5s; 
    }
    p {
        animation: fadeInUp 0.6s ease forwards; 
        animation-delay: 1s;
    }
    .strong {
        animation: bolden 0.4s ease forwards;
    }
    p .sentance-1 .strong:nth-of-type(1) {
        animation-delay: 1.5s;
    }
    p .sentance-1 .strong:nth-of-type(2) {
        animation-delay: 2.2s;
    }
    p .sentance-1 .strong:nth-of-type(3) {
        animation-delay: 2.9s;
    }
    p .sentance-2 .strong {
        animation-delay: 3.6s;
    }
    p .sentance-3 .strong {
        animation-delay: 4.3s;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes bolden {
    0% {
        font-weight: 400;
    }
    100% {
        font-weight: 700;
    }
}