* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.img-wrapper {
  width: 100%;
  img {
    width: 100%;
  }
}
.fa-solid {
  cursor: pointer;
}
h1, h2 {
  font-family: "Old Standard TT", serif;
  * {
    font-family: "Old Standard TT", serif;
  }
}
html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}
.exuent-from-bold {
  font-weight: 400 !important;
}
.bottom-border {
  width: 90%;
  height: 1px; /* Ensure a fixed height */
  margin: 0 auto;
  background-color: rgb(75, 75, 75);
  flex-shrink: 0; /* Prevent shrinking */
}
body {
  overflow: visible;
}